.buttonWrapper {
  position: relative;
  display: inline-block;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 24px;
  background-color: #292929;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  width: 250px;
  height: 55px;
  border-radius: 5px;
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

.button2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 24px;
  background-color: #292929;
  color: #fff;
  cursor: pointer;
  overflow: hidden;
  width: 250px;
  height: 55px;
  border-radius: 5px;
}

.button:hover{
  background-color: #323232;
}


@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.05); transform: scale(1.05) }
}


@keyframes pulse {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  100% { -webkit-transform: scale(1.05); transform: scale(1.05) }
}

.button span {
  position: absolute;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button2 span {
  position: absolute;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sweepOut {
  -webkit-animation: sweepOut 0.5s forwards;
          animation: sweepOut 0.5s forwards;
}

.broom {
  position: absolute;
  top: -5px;
  left: 20px;
  -webkit-animation: sweep 1s ease forwards;
          animation: sweep 1s ease forwards;
  /* Wywołuje animację zmiotki */
}

@-webkit-keyframes sweep {
  0% {
    -webkit-transform: rotate(15deg) translateX(-10px);
            transform: rotate(15deg) translateX(-10px);
    left: 10%;
  }

  100% {
    -webkit-transform: rotate(-70deg) translateX(10px);
            transform: rotate(-70deg) translateX(10px);
    /* Przesuwa zmiotkę w prawo */
    left: 90%;
  }
}

@keyframes sweep {
  0% {
    -webkit-transform: rotate(15deg) translateX(-10px);
            transform: rotate(15deg) translateX(-10px);
    left: 10%;
  }

  100% {
    -webkit-transform: rotate(-70deg) translateX(10px);
            transform: rotate(-70deg) translateX(10px);
    /* Przesuwa zmiotkę w prawo */
    left: 90%;
  }
}

@-webkit-keyframes sweepOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0;
  }
}

@keyframes sweepOut {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0;
  }
}

.phoneNumber {
  display: inline-block;
  opacity: 0;
  -webkit-animation: fadeIn 0.5s forwards 0.5s;
          animation: fadeIn 0.5s forwards 0.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .button{
    width: 200px;
    height: 45px;
    font-size: 20px;
  }
}